@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color:#e84242;
    --black-color:#121212;
    --border:0.1rem solid rgba(255,255,255,0.4);
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--main-color);
}
section{
    padding: 3.5rem 5%;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color:var(--black-color);
}
.btn:hover{
    opacity: 0.8;
}
.heading{
    color:#fff;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
    font-size: 4rem;
    }
.heading span{
    color: var(--black-color);
    text-transform: uppercase;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background: #fff;

}


html::-webkit-scrollbar-thumb{
    
    border-radius: 3rem;
    background-color:var(--black-color);
}

/*  Header Baslangic */
.logo img{
    height: 10rem;
}

.header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 2rem 5%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.2rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom:0.5rem;
}
.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background: transparent;
}

/* Home Start */

.home{
    min-height: 100vh;
    background: url(/images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
    
}
.content{
    max-width: 60rem;
}
.content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;    
}

.content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8rem;
    padding: 1rem 0 ;
    color: #ccc;
}

/* Menu Start */

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;

  
}
.menu .box-container .box{
    padding: 3rem;
    background: #fff;
    border-radius: 3rem;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.menu .box-container .box .menu-category{
    font-size: 1.2rem;

}
.menu .box-container .box h3{
    font-size: 3rem;
    padding: 1rem 0;
}

.menu .box-container .box img{
    width: 100%;
    object-fit: cover;
}
.menu .box-container .box .price{
    font-size: 1.5rem;
    padding: 0.5rem 0 ;
  
}
.menu .box-container .box .price span{
    text-decoration:line-through ;
    font-weight: 300;
}
